name: Build

on:
  push:
    branches: ['**']
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches: ['main']
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkita64:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Switch toolchain
        run: |
          dkp-pacman -Syu --noconfirm
          dkp-pacman -S --noconfirm switch-dev

      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          make gen_translations
          make -j$(nproc)

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Javelin
          path: Javelin.nro
